.container {
  max-width: var(--container--container-width);
  padding-right: var(--container--container-padding-horizontal);
  padding-left: var(--container--container-padding-horizontal);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container.is-max {
  width: 100%;
  max-width: none;
}

.container.is-large {
  max-width: var(--container--container-lg-width);
  width: 100%;
}

.container.is-small {
  max-width: var(--container--container-sm-width);
}
.max-height_100vh_desktop {
  max-height: 100dvh;
}

.overflow_hidden {
  overflow: hidden;
}

.flex_horizontal {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  display: flex;
}

.is-y-center {
  place-items: center stretch;
}

.flex_vertical {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  display: flex;
}

.gap-xxlarge {
  grid-column-gap: var(_sizes---gap--xxl-gap);
  grid-row-gap: var(_sizes---gap--xxl-gap);
}


.gap-xxsmall {
  grid-column-gap: var(_sizes---gap--xxs-gap);
  grid-row-gap: var(_sizes---gap--xxs-gap);
}

.gap-small {
  grid-column-gap: var(_sizes---gap--sm-gap);
  grid-row-gap: var(_sizes---gap--sm-gap);
}

.gap-medium {
  grid-column-gap: var(_sizes---gap--md-gap);
  grid-row-gap: var(_sizes---gap--md-gap);
}

.gap-large {
  grid-column-gap: var(_sizes---gap--lg-gap);
  grid-row-gap: var(_sizes---gap--lg-gap);
}

.gap-xlarge {
  grid-column-gap: var(_sizes---gap--xl-gap);
  grid-row-gap: var(_sizes---gap--xl-gap);
}

.gap-xxlarge {
  grid-column-gap: var(_sizes---gap--xxl-gap);
  grid-row-gap: var(_sizes---gap--xxl-gap);
}

.margin-top_none {
  margin-top: 0 !important;
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

.paragraph_large {
  margin-bottom: var(_typography---base-typography--base-margin-bottom);
  font-family: var(_typography---font--body-font);
  font-size: var(_typography---text-lg--lg-text-size);
  line-height: var(_typography---text-lg--lg-text-line-height);
  letter-spacing: var(_typography---text-lg--lg-text-letter-spacing);
}

.paragraph_xlarge {
  margin-bottom: var(_typography---base-typography--base-margin-bottom);
  font-family: var(_typography---font--body-font);
  font-size: var(_typography---text-xl--xl-text-size);
  line-height: var(_typography---text-xl--xl-text-line-height);
  letter-spacing: var(_typography---text-xl--xl-text-letter-spacing);
}

.paragraph_small {
  margin-bottom: var(_typography---base-typography--base-margin-bottom);
  font-family: var(_typography---font--body-font);
  font-size: var(_typography---text-sm--sm-text-size);
  line-height: var(_typography---text-sm--sm-text-line-height);
  letter-spacing: var(_typography---text-sm--sm-text-letter-spacing);
}

.paragraph_small.margin-bottom_none {
  min-height: 0;
}

.margin-top_xxsmall {
  margin-top: var(_sizes---spacing--0-5x);
}

.margin-top_xsmall {
  margin-top: var(_sizes---spacing--1x);
}

.margin-top_small {
  margin-top: var(_sizes---spacing--2x);
}

.margin-top_large {
  margin-top: var(_sizes---spacing--4x);
}

.margin-top_medium {
  margin-top: var(_sizes---spacing--3x);
}

.margin-bottom_xxsmall {
  margin-bottom: var(_sizes---spacing--0-5x);
}

.margin-bottom_xsmall {
  margin-bottom: var(_sizes---spacing--1x);
}

.margin-bottom_small {
  margin-bottom: var(_sizes---spacing--2x);
}

.margin-bottom_medium {
  margin-bottom: var(_sizes---spacing--3x);
}

.margin-bottom_large {
  margin-bottom: var(_sizes---spacing--4x);
}

.padding-bottom_medium {
  padding-bottom: var(_sizes---spacing--3x);
}

.padding-bottom_large {
  padding-bottom: var(_sizes---spacing--4x);
}

.padding-top_medium {
  padding-top: var(_sizes---spacing--3x);
}

.padding-top_large {
  padding-top: var(_sizes---spacing--4x);
}

.w-block {
  display: block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-clearfix:after {
  clear: both;
}

.w-hidden {
  display: none;
}

.w-dropdown {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}

.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  position: relative;
}

.w-dropdown-toggle {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
  display: inline-block;
}

.w-dropdown-toggle:focus {
  outline: 0;
}

.w-icon-dropdown-toggle {
  width: 1em;
  height: 1em;
  margin: auto 20px auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.w-dropdown-list {
  background: #ddd;
  min-width: 100%;
  display: none;
  position: absolute;
}

.w-dropdown-list.w--open {
  display: block;
}

.w-dropdown-link {
  color: #222;
  padding: 10px 20px;
  display: block;
}

.w-dropdown-link.w--current {
  color: #0082f3;
}

.w-dropdown-link:focus {
  outline: 0;
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.self-center {
  align-self: center;
}

.ratio_3x2 {
  aspect-ratio: 3 / 2;
  position: relative;
}