:root {
  --container--container-width: 1280px;
  --container--container-padding-horizontal: var(--spacing--1x);
  --container--container-lg-width: 1440px;
  --container--container-sm-width: 1000px;
  --section--section-padding-vertical: var(--spacing--8x);
  ---background-color--bg-primary: var(---core-neutral-color--neutral-primary);
  ---text-color--text-primary: var(---core-neutral-color--neutral-inverse);
  --section--section-padding-vertical-tablet: var(--spacing--7x);
  --section--section-padding-vertical-mobile-l: var(--spacing--6x);
  --section--section-padding-vertical-mobile-p: var(--spacing--5x);
  ---background-color--bg-secondary: var(---core-neutral-color--neutral-secondary);
  ---background-color--bg-accent-primary: var(---core-accent-color--accent-primary);
  ---text-color--text-on-accent-primary: #000;
  ---background-color--bg-inverse: var(---core-neutral-color--neutral-inverse);
  ---text-color--text-inverse-primary: var(---core-neutral-color--neutral-primary);
  ---background-color--bg-accent-secondary: var(---core-accent-color--accent-secondary);
  ---text-color--text-on-accent-secondary: #000;
  ---background-color--bg-accent-tertiary: var(---core-accent-color--accent-tertiary);
  ---text-color--text-on-accent-tertiary: #000;
  ---core-color-tint--neutral-inverse-a20: #0003;
  --spacing--1-25x: 1.25rem;
 --eyebrow--eyebrow-font: var(_typography---font--body-font);
  --eyebrow--eyebrow-size: .9rem;
 --eyebrow--eyebrow-line-height: 1.3em;
 --base-typography--base-font-weight: 400;
 --eyebrow--eyebrow-letter-spacing: .01em;
  --eyebrow--eyebrow-size-tablet: .9rem;
  --eyebrow--eyebrow-size-mobile-l: .8rem;
  --eyebrow--eyebrow-size-mobile-p: .8rem;
  --gap--sm-gap: var(--spacing--2x);
  --gap--xs-gap: var(--spacing--1x);
  --gap--md-gap: var(--spacing--3x);
 --h0-heading--h0-margin-bottom: .3em;
 --font--heading-font: Inter, sans-serif;
 --h0-heading--h0-size: 7.99rem;
 --h0-heading--h0-line-height: 1.04em;
 --h0-heading--h0-weight: 500;
 --h0-heading--h0-letter-spacing: -.01em;
 --h0-heading--h0-size-tablet: 6.39rem;
 --h0-heading--h0-size-mobile-l: 5.12rem;
 --h0-heading--h0-size-mobile-p: 4.09rem;
 --h1-heading--h1-margin-bottom: .3em;
 --h1-heading--h1-size: 5.65rem;
 --h1-heading--h1-line-height: 1.04em;
 --h1-heading--h1-weight: 500;
 --h1-heading--h1-letter-spacing: -.01em;
 --h1-heading--h1-size-tablet: 4.52rem;
 --h1-heading--h1-size-mobile-l: 3.62rem;
 --h1-heading--h1-size-mobile-p: 2.89rem;
 --h2-heading--h2-margin-bottom: .35em;
 --h2-heading--h2-size: 2.83rem;
 --h2-heading--h2-line-height: 1.04em;
 --h2-heading--h2-weight: 500;
 --h2-heading--h2-letter-spacing: -.01em;
 --h2-heading--h2-size-tablet: 2.26rem;
 --h2-heading--h2-size-mobile-l: 1.81rem;
 --h2-heading--h2-size-mobile-p: 1.45rem;
 --h3-heading--h3-margin-bottom: .5em;
 --h3-heading--h3-size: 2rem;
 --h3-heading--h3-line-height: 1.04em;
 --h3-heading--h3-weight: 500;
 --h3-heading--h3-letter-spacing: -.01em;
 --h3-heading--h3-size-tablet: 1.6rem;
 --h3-heading--h3-size-mobile-l: 1.28rem;
 --h3-heading--h3-size-mobile-p: 1.02rem;
 --h4-heading--h4-margin-bottom: .35em;
 --h4-heading--h4-size: 1.41rem;
 --h4-heading--h4-line-height: 1.3em;
 --h4-heading--h4-weight: 500;
 --h4-heading--h4-letter-spacing: -.01em;
 --h4-heading--h4-size-tablet: 1.27rem;
 --h4-heading--h4-size-mobile-l: 1.15rem;
 --h4-heading--h4-size-mobile-p: 1.03rem;
 --h5-heading--h5-margin-bottom: .5em;
 --h5-heading--h5-size: 1rem;
 --h5-heading--h5-line-height: 1.3em;
 --h5-heading--h5-weight: 500;
 --h5-heading--h5-letter-spacing: 0em;
 --h5-heading--h5-size-tablet: 1rem;
 --h5-heading--h5-size-mobile-l: 1rem;
 --h5-heading--h5-size-mobile-p: 1rem;
 --h6-heading--h6-margin-bottom: .5em;
 --h6-heading--h6-size: .71rem;
 --h6-heading--h6-line-height: 1.3em;
 --h6-heading--h6-weight: 500;
 --h6-heading--h6-letter-spacing: .1em;
 --h6-heading--h6-size-tablet: .71rem;
 --h6-heading--h6-size-mobile-l: .71rem;
 --h6-heading--h6-size-mobile-p: .71rem;
 --base-typography--base-margin-bottom: .7em;
 --font--body-font: Inter, sans-serif;
 --text-lg--lg-text-size: 1.13rem;
 --text-lg--lg-text-line-height: 1.6em;
 --text-lg--lg-text-letter-spacing: 0em;
 --text-lg--lg-text-size-tablet: 1.13rem;
 --text-lg--lg-text-size-mobile-l: 1.1rem;
 --text-lg--lg-text-size-mobile-p: 1.1rem;
 --text-xl--xl-text-size: 1.5rem;
 --text-xl--xl-text-line-height: 1.6em;
 --text-xl--xl-text-letter-spacing: 0em;
 --text-xl--xl-text-size-tablet: 1.4rem;
 --text-xl--xl-text-size-mobile-l: 1.3rem;
 --text-xl--xl-text-size-mobile-p: 1.2rem;
 --text-sm--sm-text-size: .88rem;
 --text-sm--sm-text-line-height: 1.6em;
 --text-sm--sm-text-letter-spacing: 0em;
 --text-sm--sm-text-size-tablet: .88rem;
 --text-sm--sm-text-size-mobile-l: .88rem;
 --text-sm--sm-text-size-mobile-p: .88rem;
  ---border-color--border-secondary: var(---core-color-tint--neutral-inverse-a20);
  --card--card-radius: .75rem;
  --button--button-padding-vertical: 1em;
  --button--button-padding-horizontal: 1.5em;
  ---button--button-primary-border: transparent;
  --button--button-radius: .5rem;
  ---core-accent-color--accent-primary: #ffcb1e;
 --button--button-font: var(_typography---font--button-font);
 --base-typography--base-font-size: 1rem;
  ---button--button-primary-border-hover: transparent;
  ---core-accent-color--accent-primary-hover: #ffd95b;
  ---button--button-primary-text: var(---text-color--text-on-accent-primary);
  ---button--button-secondary-border: transparent;
  ---core-color-tint--accent-primary-a20: #ffcb1e33;
  ---button--button-secondary-border-hover: transparent;
  ---core-color-tint--accent-primary-a10: #ffcb1e1a;
  ---core-color-tint--neutral-inverse-a10: #0000001a;
  ---text-link--link-inverse-hover: var(---text-color--text-accent-on-inverse-hover);
  --spacing--0-75x: .75rem;
  ---core-neutral-color--neutral-primary: #fefdf4;
  ---core-color-tint--neutral-inverse-a60: #0009;
  ---core-color-tint--neutral-inverse-a90: #000000e6;
  ---core-color-tint--neutral-inverse-a50: #00000080;
  --input--input-padding-vertical: var(--spacing--1x);
  --input--input-padding-horizontal: var(--spacing--1x);
  ---border-color--border-primary: var(---core-color-tint--neutral-inverse-a10);
  ---input--input-primary-border: var(---border-color--border-primary);
  --input--input-radius: .5rem;
  ---input--input-primary-border-hover: var(---border-color--border-primary);
  ---input--input-primary-text-placeholder: var(---core-color-tint--neutral-inverse-a20);
  ---core-color-tint--neutral-primary-a10: #fefdf41a;
  ---input--input-inverse-border: var(---core-color-tint--neutral-primary-a10);
  ---input--input-inverse-border-hover: var(---core-color-tint--neutral-primary-a10);
  ---input--input-inverse-text-placeholder: var(---core-color-tint--neutral-primary-a50);
  ---core-color-tint--neutral-inverse-a30: #0000004d;
  --spacing--1x: 1rem;
  --spacing--2x: 2rem;
  --spacing--0-5x: .5rem;
  --spacing--1-5x: 1.5rem;
  --radius--sm-radius: .25rem;
  ---input--input-primary-text: var(---text-color--text-primary);
  ---input--input-control: var(---core-accent-color--accent-primary);
  ---input--input-inverse-bg: transparent;
  ---input--input-inverse-bg-hover: transparent;
  ---input--input-inverse-text: var(---text-color--text-inverse-primary);
  --spacing--4x: 4rem;
  --radius--round: 100rem;
  --spacing--5x: 5rem;
 --text-xxl--xxl-text-size: 2rem;
 --text-xxl--xxl-text-line-height: 1.6em;
 --text-xxl--xxl-text-letter-spacing: 0em;
 --text-xxl--xxl-text-size-tablet: 1.8rem;
 --text-xxl--xxl-text-size-mobile-l: 1.6rem;
 --text-xxl--xxl-text-size-mobile-p: 1.4rem;
  --spacing--3x: 3rem;
  ---card--card-primary-border: var(---border-color--border-secondary);
  ---card--card-primary-bg: var(---background-color--bg-primary);
  ---card--card-primary-text: var(---text-color--text-primary);
  ---card--card-secondary-border: var(---border-color--border-secondary);
  ---card--card-secondary-bg: var(---background-color--bg-secondary);
  ---card--card-secondary-text: var(---text-color--text-primary);
  ---card--card-accent-primary-border: transparent;
  ---card--card-accent-primary-bg: var(---background-color--bg-accent-primary);
  ---card--card-accent-primary-text: white;
  ---card--card-inverse-border: transparent;
  ---card--card-inverse-bg: var(---background-color--bg-inverse);
  ---card--card-inverse-text: var(---text-color--text-inverse-primary);
  ---core-color-tint--neutral-primary-a20: #fefdf433;
  --ix--ix-card-spacing: 2rem;
  ---card--card-accent-secondary-bg: var(---background-color--bg-accent-secondary);
  ---card--card-accent-tertiary-bg: var(---background-color--bg-accent-tertiary);
  --spacing--8x: 8rem;
  --card--card-padding: var(--spacing--3x);
  --card--card-padding-tablet: var(--spacing--2x);
  --card--card-padding-mobile-l: var(--spacing--1-5x);
  --card--card-padding-mobile-p: var(--spacing--1-5x);
  ---core-accent-color--accent-secondary: #46df91;
  ---text-link--link-primary: var(---text-color--text-accent-on-primary);
  ---text-color--text-inverse-secondary: var(---core-color-tint--neutral-primary-a60);
  ---text-link--link-inverse: var(---text-color--text-accent-on-inverse);
  --gap--xxs-gap: var(--spacing--0-5x);
  --gap--lg-gap: var(--spacing--4x);
  ---text-color--text-accent-on-primary: #000;
  --spacing--0-25x: .25rem;
  --tag--tag-padding-horizontal: var(--spacing--0-5x);
  --tag--tag-radius: .5rem;
  --tag--tag-size: .75rem;
  ---core-color-tint--neutral-inverse-a80: #000c;
  ---button--button-primary-bg: var(---core-accent-color--accent-primary);
  ---text-color--text-accent-on-inverse: #ffcb1e;
  ---background-color--bg-overlay: var(---core-neutral-color--neutral-inverse);
  ---input--input-primary-bg: transparent;
  ---input--input-primary-bg-hover: transparent;
  ---core-neutral-color--neutral-inverse: #000;
  ---core-accent-color--accent-secondary-hover: #7ae8b0;
  ---text-link--link-primary-hover: var(---text-color--text-accent-on-primary-hover);
  ---text-link--link-secondary: var(---text-color--text-primary);
  --radius--md-radius: .5rem;
  --radius--lg-radius: .75rem;
  --radius--xl-radius: 1rem;
  --spacing--6x: 6rem;
 --text--text-size: 1rem;
 --text--text-size-tablet: 1rem;
 --text--text-size-mobile-l: 1rem;
 --text--text-size-mobile-p: 1rem;
  --gap--xl-gap: var(--spacing--5x);
  ---button--button-secondary-bg-hover: var(---core-color-tint--accent-primary-a10);
  ---nav-link--nav-link-inverse: var(---text-color--text-inverse-primary);
  ---text-color--text-secondary: var(---core-color-tint--neutral-inverse-a60);
  ---core-color-tint--accent-primary-a90: #ffcb1ee6;
  ---core-color-tint--accent-primary-a80: #ffcb1ecc;
  ---core-color-tint--accent-primary-a70: #ffcb1eb3;
  ---core-color-tint--accent-primary-a60: #ffcb1e99;
  ---core-color-tint--accent-primary-a50: #ffcb1e80;
  ---core-color-tint--accent-primary-a40: #ffcb1e66;
  ---core-color-tint--accent-primary-a30: #ffcb1e4d;
  ---core-color-tint--accent-secondary-a90: #46df91e6;
  ---core-color-tint--accent-secondary-a80: #46df91cc;
  ---core-color-tint--accent-secondary-a70: #46df91b3;
  ---core-color-tint--accent-secondary-a60: #46df9199;
  ---core-color-tint--accent-secondary-a50: #46df9180;
  ---core-color-tint--accent-secondary-a40: #46df9166;
  ---core-color-tint--accent-secondary-a30: #46df914d;
  ---core-color-tint--accent-secondary-a20: #46df9133;
  ---core-color-tint--accent-secondary-a10: #46df911a;
  ---core-accent-color--accent-tertiary: #e19be9;
  ---core-accent-color--accent-tertiary-hover: #f0cdf4;
  ---core-color-tint--accent-tertiary-a90: #e19be9e6;
  ---core-color-tint--neutral-inverse-a70: #000000b3;
  ---core-color-tint--neutral-inverse-a40: #0006;
  ---core-color-tint--neutral-primary-a90: #fefdf4e6;
  ---core-color-tint--neutral-primary-a80: #fefdf4cc;
  ---core-color-tint--neutral-primary-a70: #fefdf4b3;
  ---core-color-tint--neutral-primary-a60: #fefdf499;
  ---core-color-tint--neutral-primary-a50: #fefdf480;
  ---core-color-tint--neutral-primary-a40: #fefdf466;
  ---core-color-tint--neutral-primary-a30: #fefdf44d;
  ---core-color-tint--accent-tertiary-a10: #e19be91a;
  ---core-color-tint--accent-tertiary-a20: #e19be933;
  ---core-color-tint--accent-tertiary-a30: #e19be94d;
  ---core-color-tint--accent-tertiary-a40: #e19be966;
  ---core-color-tint--accent-tertiary-a50: #e19be980;
  ---core-color-tint--accent-tertiary-a60: #e19be999;
  ---core-color-tint--accent-tertiary-a70: #e19be9b3;
  ---core-color-tint--accent-tertiary-a80: #e19be9cc;
  ---core-neutral-color--neutral-secondary: #fbf9eb;
  ---border-color--border-accent: var(---core-accent-color--accent-primary);
  --gap--xxl-gap: var(--spacing--6x);
  --ix--ix-card-change-width: 50%;
  --image--image-radius: var(--card--card-radius);
  ---button--button-secondary-bg: var(---core-color-tint--accent-primary-a20);
  ---nav-link--nav-link-primary: var(---text-color--text-primary);
 --base-typography--base-line-height: 1.6rem;
 --base-typography--base-letter-spacing: 0em;
 --text--text-line-height: 1.6em;
 --text--text-letter-spacing: 0em;
  ---text-color--text-accent-on-primary-hover: #0009;
  ---text-color--text-accent-on-inverse-hover: #ffcb1e99;
  ---text-color--text-on-overlay: var(---core-neutral-color--neutral-primary);
  ---border-color--border-inverse-primary: var(---core-color-tint--neutral-primary-a20);
  ---border-color--border-inverse-secondary: var(---core-color-tint--neutral-primary-a10);
  --spacing--1-75x: 1.75rem;
  --spacing--7x: 7rem;
 --font--button-font: Inter, sans-serif;
 --base-typography--base-font: var(_typography---font--body-font);
 --base-typography--base-font-weight-bold: 600;
  ---blockquote--blockquote-bg: transparent;
  ---blockquote--blockquote-text: var(---text-color--text-primary);
  ---blockquote--blockquote-border: var(---text-color--text-primary);
  --blockquote--blockquote-radius: 0px;
  --blockquote--blockquote-border-width: 3px;
 --blockquote--blockquote-font: var(_typography---font--body-font);
  --blockquote--blockquote-size: 1rem;
  --blockquote--blockquote-size-tablet: 1rem;
  --blockquote--blockquote-size-mobile-l: .8rem;
  --blockquote--blockquote-size-mobile-p: .8rem;
  --blockquote--blockquote-letter-spacing: .01em;
 --blockquote--blockquote-line-height: 1.3em;
  --blockquote--blockquote-padding-vertical: var(--spacing--0-75x);
  --blockquote--blockquote-padding-horizontal: var(--spacing--1-25x);
  ---button--button-size: var(_typography---base-typography--base-font-size);
  ---button--button-primary-bg-hover: var(---core-accent-color--accent-primary-hover);
  ---button--button-secondary-text: var(---text-color--text-primary);
  ---input--input-control-border: var(---core-accent-color--accent-primary);
  ---card--card-primary-bg-hover: var(---background-color--bg-primary);
  ---card--card-secondary-bg-hover: var(---background-color--bg-secondary);
  ---card--card-accent-primary-bg-hover: var(---background-color--bg-accent-primary);
  ---card--card-accent-secondary-bg-hover: var(---background-color--bg-accent-secondary);
  ---card--card-accent-secondary-text: white;
  ---card--card-accent-secondary-border: transparent;
  ---card--card-accent-tertiary-bg-hover: var(---background-color--bg-accent-tertiary);
  ---card--card-accent-tertiary-text: transparent;
  ---card--card-accent-tertiary-border: transparent;
  ---card--card-inverse-bg-hover: var(---background-color--bg-inverse);
  --nav--nav-height: 4rem;
  --tag--tag-padding-vertical: var(--spacing--0-25x);
  ---text-link--link-secondary-hover: var(---core-color-tint--neutral-inverse-a60);
  --ix--ix-hero-intro-slide-up-100vh: 0px;
  --ix--ix-hero-intro-clipping-mask-1: 0px;
  --ix--ix-hero-intro-clipping-mask-2: 0px;
  --ix--ix-hero-intro-clipping-mask-3: 0px;
  --ix--ix-follow-cursor: 0%;
  --ix--ix-nav-width: 0px;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-vertical-tablet: 991px;
$bp-desktop: 1280px;