.header {
  margin-bottom: var(_sizes---gap--md-gap);
  margin-bottom: var(_sizes---gap--md-gap);
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.header.is-align-center {
  text-align: center;
  align-items: center;
  display: flex;
}

.header {
  margin-bottom: var(_sizes---gap--md-gap);
  margin-bottom: var(_sizes---gap--md-gap);
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}
