.text-button {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: var(---text-link--link-primary);
  font-size: var(_sizes---spacing--1x);
  font-weight: var(_typography---h5-heading--h5-weight);
  flex: none;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: inline-flex;
}

.text-button:hover {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  color: var(---core-accent-color--accent-primary-hover);
}

.text-button.is-small {
  font-size: var(_sizes---spacing--0-75x);
}

.text-button.on-inverse {
  color: var(---text-link--link-inverse);
}

.text-button.on-inverse:hover {
  opacity: .7;
}

.text-button.is-secondary {
  color: inherit;
  transition-property: opacity, color;
  transition-duration: .3s, .3s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.text-button.is-secondary:hover {
  opacity: .6;
}

.text-button.on-accent-primary {
  color: inherit;
}

.text-button.on-accent-primary:hover {
  opacity: .6;
  color: inherit;
}

.text-button.on-accent-tertiary, .text-button.on-accent-tertiary:hover, .text-button.on-accent-secondary, .text-button.on-accent-secondary:hover {
  color: inherit;
}

.button_label {
  white-space: pre;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}