.button-group {
  margin-top: var(--spacing--2x);
  grid-column-gap: var(--spacing--0-5x);
  grid-row-gap: var(--spacing--0-5x);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-group.is-align-center {
  justify-content: center;
}

.button-group.is-align-right {
  justify-content: flex-end;
}

.button-group.is-vertical-stretch {
  flex-flow: column;
  align-items: stretch;
}

.text-button {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: var(---text-link--link-primary);
  font-size: var(--spacing--1x);
  font-weight: var(_typography---h5-heading--h5-weight);
  flex: none;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: inline-flex;
}

.text-button:hover {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  color: var(---core-accent-color--accent-primary-hover);
}

.text-button.is-small {
  font-size: var(--spacing--0-75x);
}

.text-button.on-inverse {
  color: var(---text-link--link-inverse);
}

.text-button.on-inverse:hover {
  opacity: .7;
}

.text-button.is-secondary {
  color: inherit;
  transition-property: opacity, color;
  transition-duration: .3s, .3s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.text-button.is-secondary:hover {
  opacity: .6;
}

.text-button.on-accent-primary {
  color: inherit;
}

.text-button.on-accent-primary:hover {
  opacity: .6;
  color: inherit;
}

.text-button.on-accent-tertiary, .text-button.on-accent-tertiary:hover, .text-button.on-accent-secondary, .text-button.on-accent-secondary:hover {
  color: inherit;
}

@media screen {

  .button-group {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }
}