.button {
  padding: var(--button--button-padding-vertical) var(--button--button-padding-horizontal);
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  border: 0px solid var(--button--button-primary-border);
  border-radius: var(--button--button-radius);
  background-color: var(---core-accent-color--accent-primary);
  font-family: var(--button--button-font);
  color: var(---text-color--text-on-accent-primary);
  font-size: var(--base-typography--base-font-size);
  text-align: center;
  cursor: pointer;
  background-image: none;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button:hover {
  border-color: var(--button--button-primary-border-hover);
  background-color: var(---core-accent-color--accent-primary-hover);
  color: var(--button--button-primary-text);
  box-shadow: 0 1px 1px #0003, 0 8px 8px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button:active {
  background-color: var(---core-accent-color--accent-primary);
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button:focus {
  outline-color: var(---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: solid;
}

.button.is-secondary {
  border-color: var(--button--button-secondary-border);
  background-color: var(---core-color-tint--accent-primary-a20);
  box-shadow: none;
  color: var(---text-color--text-primary);
  background-image: none;
}

.button.is-secondary:hover {
  border-color: var(--button--button-secondary-border-hover);
  background-color: var(---core-color-tint--accent-primary-a10);
  box-shadow: none;
}

.button.is-secondary:active {
  background-color: var(---core-color-tint--accent-primary-a20);
  box-shadow: none;
}

.button.is-secondary.on-accent-primary {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
  color: var(---text-color--text-primary);
  background-image: none;
}

.button.is-secondary.on-accent-primary:hover {
  background-color: var(---core-color-tint--neutral-inverse-a10);
  box-shadow: none;
  color: var(--text-link--link-inverse-hover);
}

.button.is-secondary.on-accent-primary:active {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
}

.button.is-secondary.on-accent-secondary {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
  color: var(---text-color--text-primary);
  background-image: none;
}

.button.is-secondary.on-accent-secondary:hover {
  background-color: var(---core-color-tint--neutral-inverse-a10);
  box-shadow: none;
  color: var(--text-link--link-inverse-hover);
}

.button.is-secondary.on-accent-secondary:active {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
}

.button.is-secondary.on-accent-tertiary {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
  color: var(---text-color--text-primary);
  background-image: none;
}

.button.is-secondary.on-accent-tertiary:hover {
  background-color: var(---core-color-tint--neutral-inverse-a10);
  box-shadow: none;
}

.button.is-secondary.on-accent-tertiary:active {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: none;
}

.button.is-secondary.on-inverse {
  background-color: var(---core-color-tint--accent-primary-a20);
  box-shadow: none;
  color: var(---text-color--text-inverse-primary);
  background-image: none;
}

.button.is-secondary.on-inverse:hover {
  background-color: var(---core-color-tint--accent-primary-a10);
  box-shadow: none;
}

.button.is-secondary.on-inverse:active {
  background-color: var(---core-color-tint--accent-primary-a20);
  box-shadow: none;
}

.button.is-small {
  font-size: var(--spacing--0-75x);
}

.button.is-inverse {
  background-color: var(---core-accent-color--accent-primary);
  color: var(---core-neutral-color--neutral-primary);
  border-color: #0000;
}

.button.is-inverse:hover {
  background-color: var(---core-accent-color--accent-primary-hover);
  border-color: #0000;
}

.button.on-accent-primary {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  background-image: linear-gradient(var(---core-color-tint--neutral-inverse-a60), var(---core-color-tint--neutral-inverse-a90));
  color: var(---text-color--text-inverse-primary);
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-accent-primary:hover {
  background-color: var(---core-color-tint--neutral-inverse-a50);
  border-color: #0000;
  box-shadow: 0 1px 1px #0003, 0 8px 8px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-accent-primary:active {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-inverse {
  background-color: var(---core-accent-color--accent-primary);
  color: var(---text-color--text-on-accent-primary);
  background-image: none;
  border-color: #0000;
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-inverse:hover {
  background-color: var(---core-accent-color--accent-primary-hover);
  border-color: #0000;
  box-shadow: 0 1px 1px #0003, 0 8px 8px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-inverse:active {
  background-color: var(---core-accent-color--accent-primary);
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-accent-secondary {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  background-image: linear-gradient(var(---core-color-tint--neutral-inverse-a60), var(---core-color-tint--neutral-inverse-a90));
  color: var(---text-color--text-inverse-primary);
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-accent-secondary:hover {
  background-color: var(---core-color-tint--neutral-inverse-a50);
  color: var(---text-color--text-primary);
  box-shadow: 0 1px 1px #0003, 0 8px 8px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-accent-secondary:active {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-accent-tertiary {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  background-image: linear-gradient(var(---core-color-tint--neutral-inverse-a60), var(---core-color-tint--neutral-inverse-a90));
  color: var(---text-color--text-inverse-primary);
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-accent-tertiary:hover {
  background-color: var(---core-color-tint--neutral-inverse-a50);
  box-shadow: 0 1px 1px #0003, 0 8px 8px #0003, inset 0 3px 2px -2px #ffffff80;
}

.button.on-accent-tertiary:active {
  background-color: var(---core-color-tint--neutral-inverse-a20);
  box-shadow: 0 1px 1px #0003, 0 4px 4px #0003, inset 0 3px 2px -2px #ffffff80;
}

.text-button {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: var(---text-link--link-primary);
  font-size: var(--spacing--1x);
  font-weight: var(_typography---h5-heading--h5-weight);
  flex: none;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: inline-flex;
}

.text-button:hover {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  color: var(----core-accent-color--accent-primary-hover);
}

.text-button.is-small {
  font-size: var(--spacing--0-75x);
}

.text-button.on-inverse {
  color: var(---text-link--link-inverse);
}

.text-button.on-inverse:hover {
  opacity: .7;
}

.text-button.is-secondary {
  color: inherit;
  transition-property: opacity, color;
  transition-duration: .3s, .3s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.text-button.is-secondary:hover {
  opacity: .6;
}

.text-button.on-accent-primary {
  color: inherit;
}

.text-button.on-accent-primary:hover {
  opacity: .6;
  color: inherit;
}

.text-button.on-accent-tertiary, .text-button.on-accent-tertiary:hover, .text-button.on-accent-secondary, .text-button.on-accent-secondary:hover {
  color: inherit;
}

.button_label {
  white-space: pre;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

input.w-button {
  -webkit-appearance: button;
}
