.icon_medium {
  width: var(--spacing--1-5x);
  height: var(--spacing--1-5x);
  color: var(---core-accent-color--accent-primary);
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}
