.icon_medium {
  width: var(--spacing--1-5x);
  height: var(--spacing--1-5x);
  color: var(---core-accent-color--accent-primary);
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.w-icon-slider-right:before {
  content: "";
}

.w-icon-slider-left:before {
  content: "";
}

.w-icon-nav-menu:before {
  content: "";
}

.w-icon-arrow-down:before, .w-icon-dropdown-toggle:before {
  content: "\e003";
}

.w-icon-file-upload-remove:before {
  content: "";
}

.w-icon-file-upload-icon:before {
  content: "";
}
//